* {
  text-decoration: none;
}

body {
  background: gold;
  font-family: sans-serif;
}

.container {
  width: 50%;
  background-color: white;
  border-radius: 20px;
  margin: 50px auto 20px;
  padding: 30px;
  min-width: 510px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
}

.title-box {
  width: 275px;
  margin-right: auto;
}

/* Iteration 2: We haven't added any margin to the h1 tag but still there is a large space between name and the program.
We just want to have a space of 4px  */

header h1 {
  font-size: 20px;
  margin-bottom: 4px;
}

header p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Iteration 3: We want the color hashtags under the name (#developer, #learner) to be of color #969696 
but they are of color #154b92, fix it */

.hashtags em {
  color: #969696;
}

.hashtag {
  color: #154b92;
  font-size: 13px;
  margin-right: 5px;
}

.profile-photo {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  margin-left: 10px;
  color: rgb(173, 57, 57);
}

/* Iteration 4: The color of GitHub icon should be #005cd5 but it is seen black, why? */

/* We have set the color property to black using Inline CSS, go to line 33 in the HTML file and remove the Inline CSS */

.github,
.linkedin,
.instagram {
  color: #005cd5;
}

a {
  color: black;
}

.fab {
  margin: 0 0px 5px 20px;
}

.main-box {
  background-color: rgb(255, 250, 217);
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  padding-bottom: 40px;
}

.main-box h2 {
  text-align: center;
  margin: 0 auto 40px;
  display: block;
}

.main-box a {
  padding: 10px 10px 10px 5px;
}

.main-box a:hover {
  background-color: rgba(207, 207, 207, 0.336);
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin: 10px;
  display: flex;
  width: 100%;
}

.icons a:hover {
  color: goldenrod;
}
